<div mat-dialog-content>
  <form [formGroup]="caronaForm">
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Título</mat-label>
        <input formControlName="titulo" matInput placeholder="Digite o titulo..."/>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Local de partida</mat-label>
        <input formControlName="localPartida" matInput placeholder="Digite o local de partida..."/>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Local de destino</mat-label>
        <input formControlName="localDestino" matInput placeholder="Digite o local de destino..."/>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Horario de partida</mat-label>
        <input formControlName="horarioPartida" matInput placeholder="Digite o horario da partida..."/>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Horario de chegada</mat-label>
        <input formControlName="horarioChegada" matInput placeholder="Digite o horario da chegada..."/>
      </mat-form-field>
    </p>
    <p>
      <mat-checkbox formControlName="isAjuda" class="example-margin">Quero ajuda no combustivel!</mat-checkbox>
    </p>
  </form>
</div>
<div mat-dialog-action [align]="'end'">
  <button mat-stroked-button mat-dialog-close>Cancelar</button>
  <button style="margin-left: 8px" mat-raised-button color="primary" (click)="addCarona()">
    Adicionar
  </button>
</div>
