
  <form [formGroup]="caronaForm">
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Título</mat-label>
        <input formControlName="titulo" matInput placeholder="Digite o titulo..."/>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Local de partida</mat-label>
        <input formControlName="local_partida" matInput placeholder="Digite o local de partida..."/>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Local de destino</mat-label>
        <input formControlName="local_destino" matInput placeholder="Digite o local de destino..."/>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Horario de partida</mat-label>
        <input formControlName="horario_partida" matInput placeholder="Digite o horario da partida..."/>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Horario de chegada</mat-label>
        <input formControlName="horario_chegada" matInput placeholder="Digite o horario da chegada..."/>
      </mat-form-field>
    </p>
    <p>
      <mat-checkbox formControlName="ajudaCombustivel" class="example-margin">Quero ajuda no combustivel!</mat-checkbox>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Responsavel</mat-label>
        <mat-select formControlName="usuario" placeholder="Selecione o responsavel..."
                    [errorStateMatcher]="errorStateMatcher" [compareWith]="compareFn">
          <mat-option
            *ngFor="let usuario of usuarios$ | async"
            [value]="usuario"
          >
            {{ usuario.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
  </form>

  <button mat-stroked-button mat-dialog-close>Cancelar</button>
  <button style="margin-left: 8px" mat-raised-button color="primary" (click)="addCarona()">
    Adicionar
  </button>
